body {
	//background: url(../images/ghost-tile2.png);	
	background: url(../images/gothic-devine4.png);
	background-position: center;
	//background-color: #130722; // Old browsers
  	//@include background-image(linear-gradient(left top, #130722 0%, #7A29BD 100%));
}

#header {
  //background: url(../images/lights.jpg);
  //background-size: 700px;
}

.block-fb-likebox {
	margin-top: -9px
}