.calendar-calendar {
  .week-view {
    #multi-day-container, #single-day-container {
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
  .day-view {
    #multi-day-container, #single-day-container {
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
  .week-view #single-day-container, .day-view #single-day-container {
    height: auto;
  }
}