body {
  padding: 0 10px;
}

#main {
  max-width: $page-width;
  min-height: 600px;
  margin: -30px auto 0 auto;
  padding: 10px 10px 0 10px;
  background: $color-light;
}

#footer {
  max-width: $page-width;
  background: $color-light;
  margin: 0 auto 20px auto;
  padding: 10px 10px 5px 10px;
  .content {
    display: hidden; // Hide body?
  }
}

.footer-logo {
  width: 10%;
}

#main-prefix {
  margin: -10px -10px 10px -10px;
}

#content-left {
  @include respond-to(l) {
    @include grid-span(12.5, 1);
  }
}

.flyer-image-gallery {
  border: 3px;
} // playing around with borders, no luck

.field-name-flyer-image {
  border: 3px;
}

.fwb {
  color: red;
} //trying to change font colour of fb like box

#content-right {
  clear: both;
  @include respond-to(l) {
    float: right;
    clear: none;
  }
}

#header, #main, nav {
  @extend %clearfix;
}

#header {
  position: relative;
  z-index: 1;
  // margin: 0 -10px;
}

#header-inner {
  max-width: $page-width;
  margin: 0 auto;
}

nav {
  border-top: 1px $color-light dotted;
}

.logo-wrapper {
  display: block;
  padding: 10px 0;
  @extend %clearfix;
  @include respond-to(m) {
    width: 45%;
    .logo {
      display: block;
      width: 100%;
      margin-bottom: 6px;
    }
    .forward-thinking {
      display: block;
    }
  }
}

