.node-news {
  margin-bottom: 15px; 
  margin-top: 10px;
  

  header {
    font-size: 22px;
    h2 {
      margin: 0px 0px 0px 10px;
    }
  }
  footer {
    p {
      font-size: 10px;
      //text-align: right;
      margin: 20px 0px 0px 12px;
      color: #888888;

    }
  }
  .content {
    margin: 5px 0px 0px 10px;
    font-size: 14px;
    color: #333333;
    font-family: 'Roboto';
  }
  ul {
    padding: 0px;
    margin: 10px 0px 0px 10px;
    border-bottom: 2px $color-dark;
    li {
    list-style: none;
      a {
        font-size: 12px;
      }
    }
  }
}
