.view-residents {
  .views-row {
    margin-bottom: 10px;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.5em;
  }
  .views-row {
    position: relative;
  }
  .views-field-field-photo {
    line-height: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  }
  a {
    color: $color-dark;
  }
  @include respond-to("m") {
    .resident-right {
      background: rgba(241, 232, 245, 0.7);
      padding: 10px;
      font-size: 14px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: grid-span(4, 1, 12);
      //max-height: 100%;
      border-right: 1px solid;
      border-top: 1px solid;
      border-color: #e5e5e5 #dbdbdb #d2d2d2;
      //-webkit-border-radius: 1px;
      //-moz-border-radius: 1px;
      //border-radius: 1px;
    }
  }
}